.todo-add {
    margin-top: 20px;
}

.done-item {
    width: 250px;
    text-decoration: line-through;
    text-align: center;
}

.doing-item {
    width: 250px;
    text-align: center;
}

.add-item {
    width: 230px;
}

.title {
    font-weight: bold;
    font-size: 24px;
}

.bottom-space {
    margin-bottom: 10px;
}

.button {
    background-color: deepskyblue;
    border-radius: 2px;
    margin-left: 8px;
    border: 0px;
    font-size: 16px;
    color: white;
}

.nav-button {
    background-color: hotpink;
    border: 0px;
    border-radius: 2px;
    margin-top: 10px;
    color: white;
    padding: 2px;
}

.paging {
    margin-top: 2px;
    margin-left: 33%;
    margin-bottom: 4px;
}

.todo-progress{
    margin-top: 2px;
    margin-bottom: 5px;
    width: 50%;
}

.edit-bt{
    margin-left: 2px;
    margin-right: 2px;
}


