.todo-add {
    margin-top: 20px;
}

.done-item {
    text-decoration: line-through;
}

.title {
    font-weight: bold;
    font-size: 24px;
}

.bottom-space{
    margin-bottom: 10px;
}

.button{
    background-color: deepskyblue;
    border-radius: 2px;
    margin-left: 8px;
    border: 0px;
    font-size: 16px;
    color: white;
}